<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div th:replace="base :: navbar"></div>
<br><br><br>
<h1>Job Form</h1>
<!--@{/process} is validating in the homecontroller
this is linking the job object that we created on homecontroller -->


<div class=" mx-md-3 jumbotron jumbotron-fluid">
    <div class="container">

        <form action="#" th:action="@{/process}" th:object="${job}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label>Job Title </label><br />
                <input type="text" th:field="*{title}" placeholder="Enter Job Title" />
                <span th:if="${#fields.hasErrors('title')}"
                      th:errors="*{title}"></span><br />
                            </div>
            <div class="form-group">
                <label>Company/Author </label><br />
                <input type="text" th:field="*{author}" placeholder="Enter Employer" />
                <span th:if="${#fields.hasErrors('author')}"
                      th:errors="*{author}"> </span><br />
            </div>
            <div class="form-group">
                <label>Description </label><br />
                <textarea rows="3" th:field="*{description}" placeholder="Discribe the Job" />
                <span th:if="${#fields.hasErrors('description')}"
                      th:errors="*{description}"></span><br />
                <small class="form-text text-muted">Min. 10 Words</small>
            </div>
            <div class="form-group">
                <label>Posted Date </label><br />
                <input type="date" th:field="*{postedDate}" placeholder="Date of Data Entry" />
                <span th:if="${#fields.hasErrors('postedDate')}"
                      th:errors="*{postedDate}"> </span><br />
            </div>

            <div class="form-group">
                <label>Phone </label><br/>
                <input type="text" th:field="*{phone}" placeholder="Employer Phone Number" />
                <span th:if="${#fields.hasErrors('phone')}"
                      th:errors="*{phone}"></span><br />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>
<div th:replace="base :: footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>